.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#GameCard {
  width: 100%;
  max-width: 400px;
  max-height: 648px;
  margin: 5px;
  padding: 5px;
  border-style: dotted;
}

#GameCard button {
  width: 20%;  
}

#GameCard img {
  width: 100%;
  max-width: 200px;
  max-height: 324px;
}

#ExpandedCard {
  width: 100%;
  max-width: 600px;
  max-height: 1296px;
  margin: 5px;
  padding: 5px;
  border-style: double;
}

#ExpandedCard img {
  width: 100%;
  max-width: 400px;
  max-height: 648px;
}